<footer>
  <div class="empty">

  </div>

  <div class="infoHolder">

    <div class="logo">
      <img src="assets/logo.png" alt="logo">
    </div>

    <div class="opening">
      <p>H-K-SZ-CS-P-SZO-V</p>
      <p>9:00-22:00</p>
    </div>

  </div>

  <div class="map">
    <a href="https://www.google.com/maps/place/Budapest,+Ó+u.+4,+1066/@47.5028557,19.0538434,17z/data=!3m1!4b1!4m6!3m5!1s0x4741dc6b67bce61b:0xee74e057ab5ef610!8m2!3d47.5028557!4d19.0560321!16s%2Fg%2F11c5n92p77"><i class="bi bi-geo-alt-fill">
    </i>Budapest, Ó utca 4</a>
    <p><i class="bi bi-telephone-fill"></i>+36 20 444 5678</p>
    <div class="social">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
    </div>

  </div>

</footer>
