footer{
  background-color: #181818;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.empty{
  width: 35%;
}
.infoHolder{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* background-color: deeppink; */
/* margin: 0 auto;
 */
 width: 35%;
}
.logo{
}

.logo img{
width: 50px;
}
.opening{
color: white;
text-align: center;
}

.map{
/*   background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: right;
  padding: 20px;
}
.map i{
  color: white;
  font-size: 12px;
}
.social i{
color: orange;
}
