<footer>
  <div class="empty">

  </div>

  <div class="infoHolder">

    <div class="logo">
      <img src="assets/logo.png" alt="logo">
    </div>

    <div class="opening">
      <p>H-K-SZ-CS-P-SZO-V</p>
      <p>9:00-22:00</p>
    </div>

  </div>

  <div class="map">
    <i class="bi bi-geo-alt-fill">Budapest, Ó utca 4</i>
    <i class="bi bi-telephone-fill"> +36 20 444 5678</i>
    <div class="social">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
    </div>

  </div>

</footer>
