nav
{
background-color: #00000066;
}
.container-fluid{
display: flex;
justify-content: space-between;
}
.collapse
{
  justify-content: flex-end;
  margin-right: 20px;
}
.navbar-brand {
  color: white;

}
.title{
 display: flex;
 font-family: Georgia, serif;
}
.title a{
  margin-top: 5px;
}
.navbar-nav a{
  color: white;
  font-family: Georgia, serif;
}
#btn
{
  margin: 0;
}

.navbar-toggler button span{
color: rgb(255, 255, 255);
}
