html{
  background: url('/assets/rest1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.section1{
  position: relative;
  overflow: hidden;
  height: 700px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.section1 .logo{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.logo img{
  width: 150px;
}

.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  color: white;
}
.text h1{
  text-align: center;
  font-size: 70px;
  font-family: Georgia, serif;
  }
.section1 .curve{
  position:absolute;
  bottom: -1px;
  left: 0;
  width: 100%;

}
////////////////////////////////////////



.section2{
  display: flex;
  align-items: center;
/*   justify-content: center; */
  height: 650px;
  background-color: #000000ae;
}
/* .imgHolder{
  display: flex;
  align-items: center;

  overflow-y: scroll;
  height: 550px;
} */

.row{
  display: flex;
  align-items: center;
  overflow-y: scroll;
  height: 550px;

  margin: 50px;
  width: 80%;
}
.card img{
  height: 400px;
  object-fit: cover;
}
.col {
/*   width: 400px;
 */
 /*  margin: 50px; */
 height: 600px;
 min-width: 400px;
}
