.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translateY(50%);
  filter: blur(5px);
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}



.sectionOne
{
  position: relative;
  background: url('/assets/image1.jpg') no-repeat;
  height: 750px;
  width: 100%;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  box-sizing: border-box;
}
.logo
{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
.sectionOne .curve{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}
.timer{
  margin-top: -80px;
  background-color: #0000009b;
  border-radius: 30px;
  padding: 10px 5px 0px 5px;
}
.timeNumber p {
padding: 10px;
font-weight: 700px;
font-family: Georgia, serif;
}
.timeNumber{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;

}
//////////////////////////////////

.sectionTwo{
height: 650px;
background-color: #181818;

}

.mainTitle{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;

}
.mainTitle h1{
  font-size: 45px;
  font-family: Georgia, serif;
}
.mainTitle p{
  font-family: Georgia, serif;
}
.cardHolder
{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .imageBox{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 150px;
  transform: 0.5s;
  margin-top: -80px;
}
.cards:hover .imageBox{
  width: 250px;
  height: 250px;
  margin-top: -80px;
  scale: 0.75;
}
.imageBox img{
width: 100%;
height: 100%;
border-radius: 100%;
background-size: cover;
}
.cards
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background: #2e2e2e;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  transition: 0.5s;
}

.cards:hover{
  height: 400px;
}
.cards .content{
  width: 200px;
  text-align: center;
  margin-top: 25px;
  height: 50px;
  overflow: hidden;
  color: aliceblue;
}
.cards:hover .content{
  margin-top: 13px;
  height: 250px;
}

.cards .content h2{
  font-size: 30px;
  font-weight: 600;
}


///////////////////////////////////////

.sectionThree{
display: flex;
flex-direction: row;
background-color: #331E1A;
}

.imageHolder{
  display: flex;
  max-width: 40%;

}
.imageHolder img{

  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}
.contentHolder{
  display: flex;
  flex-direction: column;
  background: #331E1A;
  justify-content: center;
}
.contentHolder h2{
  color: #ffffff;
  text-align: center;
  margin: 20px;
  font-family: Georgia, serif;
}
.contentHolder p{
  text-align: justify;
  color: #ffffff;
  font-size: 2vmin;
  margin: 20px;
  font-family: Georgia, serif;
}



//////////////////////////////////
.sectionFour{
  background-color: #181818;
  display: flex;
  height: 540px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionFour h1{
  color: white;
  margin-top: 50px;
  font-family: Georgia, serif;
}

.scroll{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 700px;
  min-width: 300px;
  margin: 50px auto;
}

.scroll .ratingCard{
  display: flex;
  flex-shrink: 0;
  animation: scroll 12s infinite ease-in-out;
}

/* .circle{
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
  margin-bottom: 20px;
} */

.titleBox
{
width: 350px;
height: 170px;
border-radius: 10px;
box-shadow: inset 5px 5px 5px #ffffff0d,
inset -5px -5px 5px #000000,
5px 5px 5px #0000000d,
-5px -5px 5px #000000;
margin:50px;
padding: 20px;
}

.titleBox p{
color: #ffffff;
padding: 10px;
font-family: Georgia, serif;
}

.rateNumber{
  float: right;
  text-align: center;
  background-color: #d03819;
  border-radius: 10px;
  width:50px;
  margin-right: 10px;
  margin-top: -15px;
  font-size: 13px;
}


@keyframes scroll {
  0%,
  20%{
    transform: translateX(0);
  }
  25%,
  45%{
    transform: translateX(-100%);
  }
  50%,
  70%{
    transform: translateX(-200%);
  }
  75%,
  95%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-400%);
  }
}
////////////////////////////////////
  .sectionFive{
    display: flex;
    flex-direction: row;
    background-color: #331E1A;
  }
  .restImg{
    display: flex;
    width: 150%;
    overflow: hidden;
  }
  .restImg img{

    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
  }
  .restHolder{
    display: flex;
    flex-direction: column;
    background: #331E1A;
    justify-content: center;

  }
  .restHolder
  h2{
  color: #ffffff;
  font-size: 3vmin;
  text-align: center;
  margin: 10px;
  font-family: Georgia, serif;
  }
  .restHolder p{
  color: #ffffff;
  font-size: 2vmin;
  text-align: justify;
  margin: 10px;
  font-family: Georgia, serif;
  }
