.sectionOne
{
  position: relative;
  background: url('/assets/image1.jpg') no-repeat;
  height: 750px;
  width: 100%;
  background-position: center;
  overflow: hidden;
  background-size: cover;
  box-sizing: border-box;
}
.logo
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.sectionOne .curve{
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}
//////////////////////////////////

.sectionTwo{
height: 650px;
background-color: #181818;

}

.mainTitle{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-align: center;

}
.mainTitle h1{
  font-size: 45px;
}
.mainTitle p{

}
.cardHolder
{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards .imageBox{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 150px;
  transform: 0.5s;
  margin-top: -80px;
}
.cards:hover .imageBox{
  width: 250px;
  height: 250px;
  margin-top: -80px;
  scale: 0.75;
}
.imageBox img{
width: 100%;
height: 100%;
border-radius: 100%;
background-size: cover;
}
.cards
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  background: #2e2e2e;
  width: 250px;
  height: 150px;
  border-radius: 10px;
  transition: 0.5s;
}

.cards:hover{
  height: 400px;
}
.cards .content{
  width: 200px;
  text-align: center;
  margin-top: 25px;
  height: 50px;
  overflow: hidden;
  color: aliceblue;
}
.cards:hover .content{
  margin-top: 13px;
  height: 250px;
}

.cards .content h2{
  font-size: 30px;
  font-weight: 600;
}


///////////////////////////////////////

.sectionThree{
display: flex;
flex-direction: row;
}

.imageHolder{
  display: flex;
  max-width: 40%;

}
.imageHolder img{

  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}
.contentHolder{
  display: flex;
  flex-direction: column;
  background: #331E1A;
  justify-content: center;
}
.contentHolder h2{
  color: #ffffff;
  text-align: center;
  margin: 20px;
}
.contentHolder p{
  text-align: justify;
  color: #ffffff;
  font-size: 2vmin;
  margin: 20px;
}



//////////////////////////////////
.sectionFour{
  background-color: #181818;
  display: flex;
  height: 540px;
  justify-content: center;
  align-items: center;
}
.scroll{
  display: flex;
  overflow-x: scroll;
}

.ratingCard{
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.circle{
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
  margin-bottom: 20px;
}

.titleBox
{
background-color: #331E1A;
width: 350px;
height: 150px;
border-radius: 10px;
}
.titleBox p{
color: #ffffff;
}



////////////////////////////////////
  .sectionFive{
    display: flex;
    flex-direction: row;
  }
  .restImg{
    display: flex;
    width: 150%;
    overflow: hidden;
  }
  .restImg img{

    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
  }
  .restHolder{
    display: flex;
    flex-direction: column;
    background: #331E1A;
    justify-content: center;

  }
  .restHolder
  h2{
  color: #ffffff;
  font-size: 3vmin;
  text-align: center;
  margin: 10px;
  }
  .restHolder p{
  color: #ffffff;
  font-size: 2vmin;
  text-align: justify;
  margin: 10px;
  }
